<p class="">
    <i *ngIf="fullstar>=1" class="bi bi-star-fill h5 me-1" style="color: gold;"></i>
    <i *ngIf="fullstar>=2" class="bi bi-star-fill h5 me-1" style="color: gold;"></i>
    <i *ngIf="fullstar>=3" class="bi bi-star-fill h5 me-1" style="color: gold;"></i>
    <i *ngIf="fullstar>=4" class="bi bi-star-fill h5 me-1" style="color: gold;"></i>
    <i *ngIf="fullstar>=5" class="bi bi-star-fill h5  me-1" style="color: gold;"></i>

    <i *ngIf="halfStar>=1" class="bi bi-star-half h5 me-1" style="color: gold;"></i>

    <i *ngIf="emptyStar>=1" class="bi bi-star h5 me-1" style="color: gold;"></i>
    <i *ngIf="emptyStar>=2" class="bi bi-star h5 me-1" style="color: gold;"></i>
    <i *ngIf="emptyStar>=3" class="bi bi-star h5 me-1" style="color: gold;"></i>
    <i *ngIf="emptyStar>=4" class="bi bi-star h5 me-1" style="color: gold;"></i>
    <i *ngIf="emptyStar>=5" class="bi bi-star h5 me-1" style="color: gold;"></i>
</p>